.dashboard.container
- if @current_user
  %h2 Events
  %ul
  - @current_user.events.each do |event|
    %h2=event.title
    %p=event.content
    %p=format_datetime(event.datetime_start)
    %p=format_datetime(event.datetime_end)
    %a.btn.btn-primary{:href => edit_event_path(event)} Edit
    %btn.btn.btn-danger{:type => "button"}= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }



