.event-form
  = simple_form_for(@skill, url: '/profile', :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } }) do |f|
    = f.input :name, :wrapper_html => { :class => "span4" }
    = f.input :level, as: :integer, :wrapper_html => { :min => 0, :value => 0, :max => 5 }
    = f.button :submit, 'Zapisz', :class => 'btn-primary'
