.container
  %nav
    - if current_user
      .span6
        %h1 Profil użytkownika
        %p= @current_user.nickname
        %p Ostatnia aktywność: #{I18n.l(current_user.last_activity_at, :format => '%d %b %Y, %H:%M')}
%div{"ng-app" => ""}
  %div{"ng-controller" => "SkillCtrl"}
    %h1 Umiejętności: {{getTotalSkills()}}
    %ul.unstyled
      %li{"ng-repeat" => "skill in skills"}
        %input{"ng-model" => "skill.done", :type => "checkbox"}
          %span{:class => "done-{{skill.done}}"} {{skill.text}}
    %form.form-horizontal
    %input{"ng-model" => "formSkillText", "ng-model-instant" => "", :type => "text"}
      %button.btn{"ng-click" => "addSkill()"}
        %i.icon-plus>
        Add

