.container
  %nav
    - if @current_user
      .span6
        %h2
          %p Profil
        %h2
          %p Nick:
          = @current_user.nickname
        %h2
          %p Email:
          = @current_user.email
%div{"ng-app" => ""}
  %div{"ng-controller" => "SkillCtrl"}
    %h1 Umiejętności: {{getTotalSkills()}}
    %ul.unstyled
      %li{"ng-repeat" => "skill in skills"}
        %input{"ng-model" => "skill.done", :type => "checkbox"}
          %span{:class => "done-{{skill.done}}"} {{skill.text}}
    %form.form-horizontal
    %input{"ng-model" => "formSkillText", "ng-model-instant" => "", :type => "text"}
      %button.btn{"ng-click" => "addSkill()"}
        %i.icon-plus>
        Add

