= render 'shared/breadcrumbs'

%h1 Tematy

= link_to 'Nowy temat', new_topic_path, class: 'btn btn-primary'

- @topics.each do |topic|
  .topic
    %h2.pull-left= link_to topic.name, topic
    .pull-right= remove_button(topic)
    .clear
