%h1 Zarejestrowani użytkownicy

%table.users
  %tr
    %th Nazwa użytkownika
    %th Ostatnia aktywność
  - @users.each do |user|
    %tr
      %td= user.nickname
      %td
        - if user.last_activity_at
          = I18n.l(user.last_activity_at, :format => '%d %b %Y, %H:%M')
