%header.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %strong= link_to 'Avec', root_path, class: 'navbar-brand'
    %nav
      %ul.nav.navbar-nav.pull-right
        - if @current_user
          %li= link_to 'Nowe wydarzenie', new_event_path
          %li
            %a= @current_user.nickname
          %li= link_to '', logout_path, :method => :delete, class: 'octicon octicon-log-out'
        - else
          %li
            %a{href: login_path}
              Zaloguj
              %span.octicon.octicon-mark-github
