.tab-content .event {
  border: 1px solid #ddd;
}

.event {
  padding: 5px;

  &:nth-child(even) {
    border-top: none;
  }

  form {
    display: inline;
  }
}

.map {
  width: 500px;
  height: 300px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 5px rgba(50,50,50,0.75);
  -moz-box-shadow: 0px 1px 5px rgba(50,50,50,0.75);
  box-shadow: 0px 1px 5px rgba(50,50,50,0.75);
}

ul.participants {
  list-style: none;
  padding: 10px 20px;

  li {
    padding: 5px 0;

    img {
      width: 30px;
      height: 30px;
    }

    .nickname {
      padding: 10px;
    }
  }


}

.icon {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 20px;
  background: #d8b895;
  border-radius: 5px;
}
