.topic
  border: 1px solid #aaa
  border-radius: 5px
  padding: 10px
  margin: 10px auto

  h2
    margin: 10px auto

.post
  border: 1px solid #aaa
  border-radius: 5px
  padding: 10px
  margin: 10px auto

  .author, .content
    float: left

  .author
    width: 100px

    .avatar
      img
        width: 80px
        height: 80px

  .clear
    clear: both
