.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

h1, h2, h3 {
  font-family: 'Lobster', cursive;
}

.dashboard.container {
  margin-top: 50px;
}

h1.title {
  text-align: left;
}

.col-md-1.skill {
  float : right;
  margin-right: 30px;
}

.col-md-2.skill {
  height: 58px;
  width: 160px;
}

.done-true {
  text-decoration: line-through;
  color:red;
}
