.dashboard.container {
  margin-top: 50px;
}

.col-md-3 {
  border: 1px solid #000;
  border-radius: 5px;
}
.title {
  font-size: 26px;
  text-align: center;
}

.col-md-1.skill {
  float : right;
  margin-right: 30px;
}

.col-md-2.skill {
  height: 58px;
  width: 160px;
}


